## The  DateTime module
- how to handle date and time features with Pythonâ€™s DateTime module

### Working with Dates in Python
The `date` class in the DateTime module of Python deals with dates in the Gregorian calendar. It accepts three integer arguments: year, month, and day. 
Example:

In [1]:
from datetime import date

d1 = date(2021,10,23)

print(d1)

print(type(d1))

2021-10-23
<class 'datetime.date'>

#### Extract `day`, `month`, and `year` from the date. This can be done using the day, month, and year attributes.

In [2]:
# present day date
d1 = date.today()
print(d1)
# day
print('Day :',d1.day)
# month
print('Month :',d1.month)
# year
print('Year :',d1.year)

2021-11-25
Day : 25
Month : 11
Year : 2021

### Working with Time in Python
- time is another class of the DateTime module that accepts integer arguments for time up to microseconds and returns a DateTime object:

In [3]:
from datetime import time

t1 = time(13,20,13,40)

print(t1)

print(type(t1))

13:20:13.000040
<class 'datetime.time'>

**Extract hour, minute, second, and microsecond from the time object**

In [4]:
# hour
print('Hour :',t1.hour)
# minute
print('Minute :',t1.minute)
# second
print('Second :',t1.second)
# microsecond
print('Microsecond :',t1.microsecond)

Hour : 13
Minute : 20
Second : 13
Microsecond : 40

**creating a specific date object**

In [5]:
from datetime import datetime
d1 = datetime(2020,4,23,11,20,30,40)
print(d1)
print(type(d1))

2020-04-23 11:20:30.000040
<class 'datetime.datetime'>

In [6]:
# local date-time
d1 = datetime.now()
d1

datetime.datetime(2021, 11, 25, 17, 20, 19, 113826)

### Updating old Dates
- one can separate `date` and `time` from the DateTime object using the `date()` and `time()` methods. 
- one can replace a value in the DateTime object without having to change the entire date using the replace() method:

In [7]:
print('Datetime :',d1)
# date
print('Date :',d1.date())
# time
print('Time :',d1.time())
# new datetime
print('New datetime :',d1.replace(day=24, hour=14))

Datetime : 2021-11-25 17:20:19.113826
Date : 2021-11-25
Time : 17:20:19.113826
New datetime : 2021-11-24 14:20:19.113826

### Weekday from DateTime
- One can extract the day of the week! This is especially helpful in feature engineering because the value of the target variable can be dependent on the day of the week, like sales of a product are generally higher on a weekend or traffic on StackOverflow could be higher on a weekday when people are working, etc.

The `weekday()` method returns an integer value for the day of the week, where Monday is 0 and Sunday is 6. But if you wanted it to return the weekday value between 1 and 7, use `isoweekday()`:

In [5]:
d1 = datetime.now()
# week starts from 0
print(d1.weekday()) # output 3 for Thurday
# week starts with 1
print(d1.isoweekday()) # output 4 in ISO format

3
4

### What Week is it?
Alright, you know the day of the week, but do you know what week of the year is it? This is another very important feature that you can generate from the given date in a dataset.

Sometimes the value of the target variable might be higher during certain times of the year. For example, the sales of products on e-commerce websites are generally higher during vacations.

You can get the week of the year by slicing the value returned by the isocalendar() method:

In [6]:
d1 = datetime.now()
# retuns year, week, month
print(d1.isocalendar())
print('Week :',d1.isocalendar()[1])

(2021, 47, 4)
Week : 47

### Leap Year or Not? Use Calendar!
Want to check whether it is a leap year or not? You will need to use the `isleap()` method from the calendar module and pass the year as an attribute:

In [8]:
import calendar
d1 = datetime.now()
# leap year or not
calendar.isleap(d1.year) # Output True

False

In [9]:
# Its was Nov when I wrote this
print(calendar.month(2021,11))

   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

### You can have a look at the entire calendar for the year

In [10]:
print(calendar.calendar(2021))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

#### DateTime Formats
The Datetime module lets you interchange the format of DateTime between a few options.

First up is the ISO format. If you want to create a DateTime object from the string form of the date in ISO format, use the `fromisoformat()` method. And if you intended to do the reverse, use the `isoformat()` method:

In [11]:
# ISO format
d1_datetime = date.fromisoformat('2020-04-23')
print(d1_datetime)
print(type(d1_datetime))
d1_ISO = date(2020,4,23).isoformat()
print(d1_ISO)
print(type(d1_ISO))

2020-04-23
<class 'datetime.date'>
2020-04-23
<class 'str'>

If you wanted to convert DateTime into a string format, you could use the `ctime()` method. This returns the date in a string format. And if you wanted to extract just the date from that, use slicing:

In [22]:
# date in string format
d1 = datetime.now()
# string format for date
print(d1.ctime())
# slicing to extract date
print(d1.ctime()[:10])

Thu Nov 25 08:22:52 2021
Thu Nov 25

### Formatting with `Strptime` & `Strftime`
These functions are very important as they let you define the format of the DateTime object explicitly. This can give you a lot of flexibility with handling DateTime features.

`strptime()` creates a DateTime object from a string representing date and time. It takes two arguments: the date and the format in which your date is present.

In [12]:
# strptime
date = '22 April, 2020 13:20:13'
d1 = datetime.strptime(date,'%d %B, %Y %H:%M:%S')
print(d1)
print(type(d1))

2020-04-22 13:20:13
<class 'datetime.datetime'>

### what the arguments mean
- %d refers to day of the month. In 20-10-2019, %d returns 20.
- %m refers to month of the year. In 20-10-2019, %m returns 10.
- %Y refers to year. The letter 'Y' is in upper case. In 20-10-2019, %Y returns 2019.
- %y refers to year in two-digit format. In 20-10-2019, %y returns 19.

### other arguments
- %a returns the first three letter of the weekday Sun
- %A returns the complete name of the weekday Sunday
- %b returns the first three letters of the month Oct
- %B returns the complete name of the month October

The stftime() method, on the other hand, can be used to convert the DateTime object into a string representing date and time:

In [13]:
# strftime
d1 = datetime.now()
print('Datetime object :',d1)
new_date = d1.strftime('%d/%m/%Y %H:%M')
print('Formatted date :',new_date)
print(type(new_date))

Datetime object : 2021-11-25 17:25:20.302396
Formatted date : 25/11/2021 17:25
<class 'str'>

But you can also extract some important information from the DateTime object like weekday name, month name, week number, etc. which can turn out to be very useful in terms of features as we saw in previous sections.

In [14]:
d1 = datetime.now()
print('Weekday :',d1.strftime('%A'))
print('Month :',d1.strftime('%B'))
print('Week number :',d1.strftime('%W'))
print("Locale's date and time representation :",d1.strftime('%c'))

Weekday : Thursday
Month : November
Week number : 47
Locale's date and time representation : Thu Nov 25 17:25:36 2021

### Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to find the duration between two dates, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [15]:
# timedelta : duration between dates
d1 = datetime(2020,4,23,11,13,10)
d2 = datetime(2021,4,23,12,13,10)
duration = d2-d1
print(type(duration))
duration

<class 'datetime.timedelta'>

datetime.timedelta(days=365, seconds=3600)

As you can see, the duration is returned as the number of days for the date and seconds for the time between the dates. So you can actually retrieve these values for your features:

In [19]:
print(duration.days) # 365
print(duration.seconds) # 3600

365
3600

But what if you actually wanted the duration in hours or minutes? Well, there is a simple solution for that.

timedelta is also a class in the DateTime module. So, you could use it to convert your duration into hours and minutes:

In [16]:
from datetime import timedelta
# duration in hours
print('Duration in hours :',duration/timedelta(hours=1))
# duration in minutes
print('Duration in minutes :',duration/timedelta(minutes=1))
# duration in seconds
print('Duration in seconds :',duration/timedelta(seconds=1))

Duration in hours : 8761.0
Duration in minutes : 525660.0
Duration in seconds : 31539600.0

**Now, what if you wanted to get the date 5 days from today? Do you simply add 5 to the present date?***

In [21]:
d1 = datetime.now()
d1+5

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'int'

### You use timedelta

timedelta makes it possible to add and subtract integers from a DateTime object.

In [17]:
d1 = datetime.now()
print("Today's date :",d1)

d2 = d1+timedelta(days=2)
print("Date 2 days from today :",d2)

d3 = d1+timedelta(weeks=2)
print("Date 2 weeks from today :",d3)

Today's date : 2021-11-25 17:26:52.316183
Date 2 days from today : 2021-11-27 17:26:52.316183
Date 2 weeks from today : 2021-12-09 17:26:52.316183

### Customizing Date Formats
You can customize the format of dates by defining the date formats using strftime method. It converts date objects to strings.

In [20]:
import datetime
dt = datetime.date(2019, 10, 20)
dt

datetime.date(2019, 10, 20)

In [37]:
# what does this do?
datetime.date.today()

datetime.date(2021, 11, 25)

**Extract day, month and year from date values**

In [38]:
print(dt.day)


print(dt.month)


print(dt.year)

20
10
2019

In [21]:
# format/customise
dt.strftime("%d-%m-%Y")

'20-10-2019'

### what the arguments mean
- %d refers to day of the month. In 20-10-2019, %d returns 20.
- %m refers to month of the year. In 20-10-2019, %m returns 10.
- %Y refers to year. The letter 'Y' is in upper case. In 20-10-2019, %Y returns 2019.
- %y refers to year in two-digit format. In 20-10-2019, %y returns 19.

### other arguments
- %a returns the first three letter of the weekday Sun
- %A returns the complete name of the weekday Sunday
- %b returns the first three letters of the month Oct
- %B returns the complete name of the month October

In [22]:
dt.strftime("%d/%m/%Y")

'20/10/2019'

In [41]:
dt.strftime("%b %d, %Y")

'Oct 20, 2019'

In [42]:
dt.strftime("%B %d, %Y")

'October 20, 2019'

In [43]:
dt.strftime("%a %B %d, %Y")

'Sun October 20, 2019'

In [44]:
dt.strftime("%A %B %d, %Y")

'Sunday October 20, 2019'

In [45]:
dt.strftime("%A, %B %d, %Y")

'Sunday, October 20, 2019'

### Time
Time values are defined with `datetime.time` class. It follows the syntax as shown below

In [23]:
t = datetime.time(21, 2, 3)
print(t)

21:02:03

### How to get hour, minute and seconds from time values

In [24]:
print(t.hour)

print(t.minute)

print(t.second)

print(t.microsecond)

21
2
3
0

## How to convert time to AM PM format
- %I converts 24 hour time format to 12 hour format.
- %p returns AM PM based on time values.
- %H returns hours of the time value.
- %M returns minutes of the time value.
- %S returns seconds of the time value.

In [25]:
t.strftime("%I:%M %p")

'09:02 PM'

### Handle both dates and time
`datetime` library has another class named datetime.datetime class which is used to represent date plus time. You can call it timestamp. now() or today() method of datetime class is used to extract current date and time.

In [27]:
dt = datetime.datetime.now()
print(dt)

2021-11-25 12:13:55.419630

**%c represents locale date and time. %X represents locale time.**

In [26]:
dt.strftime("%c")

'Sun Oct 20 00:00:00 2019'

In [27]:
dt.strftime("%A %B %d %X")

'Sunday October 20 00:00:00'

In [52]:
dt.strftime("%A %B %d %H:%M")

'Thursday November 25 08:35'

In [53]:
## what does this do?
dt = datetime.datetime(2019, 7, 20, 10, 51, 0)
dt.strftime('%d-%m-%Y %H-%M')

'20-07-2019 10-51'

### How to convert a string to datetime in python

In [54]:
from dateutil.parser import parse
print(parse('March 01, 2019'))

2019-03-01 00:00:00

#### How to get current time?
We can use the same function we used in the previous section and extract time from the returned value using time() method.

In [55]:
print(dt.time())

10:51:00

#### How to get current day of the week
Suppose you want to extract the day number. 1 for Monday and 7 for Sunday. In the example below it returns 6 as it's Saturday on 20th July, 2019.

In [56]:
dt.isoweekday()

6

### Calculate future or past dates
With `timedelta`, you can add or subtract days, weeks, hours, minutes, seconds, microseconds and milliseconds. It is very useful when you want to calculate future or past dates.

In [57]:
#30 days ahead
delta = datetime.timedelta(days=30)
print(dt + delta)

2019-08-19 10:51:00

In [58]:
#30 days back
print(dt - delta)

2019-06-20 10:51:00

In [59]:
delta = datetime.timedelta(days= 10, hours=3, minutes=30, seconds=30)
print(dt + delta)

2019-07-30 14:21:30

In [60]:
delta = datetime.timedelta(weeks= 4, hours=3, minutes=30, seconds=30)
print(dt + delta)

2019-08-17 14:21:30

In timedelta, months and years options are missing which means you cannot calculate future dates increment by month(s) or year(s). To accomplish this task, we can use dateutil package. Let's import this package by submitting the code below

In [62]:
# pip install python-dateutil
from dateutil.relativedelta import *

In [63]:
#1 Month ahead
print(dt + relativedelta(months=+1))

2019-08-20 10:51:00

In [64]:
#1 Month Back
print(dt + relativedelta(months=-1))

2019-06-20 10:51:00

In [65]:
#Next month, plus one week
print(dt + relativedelta(months=+1, weeks=+1))

2019-08-27 10:51:00

In [66]:
#Next Year
print(dt + relativedelta(years=+1))

2020-07-20 10:51:00

### Consider Leap Years
relativedelta method from dateutil package takes care of leap year while calculating future or past dates. Year 2000 was a leap year so there were 29 days in the February month. But next year has only 28 days in February.

In [67]:
print(datetime.date(2000, 2, 29)+ relativedelta(years=+1))

2001-02-28

### Difference between Two Dates
Suppose you need to calculate the number of days between two dates. It is a very common data problem statement when you need to calculate the tenure of customers given the information - when they opened their account(start date) and when the accounts got closed (end date).

In [68]:
date1 = datetime.date(2020, 10, 25)
date2 = datetime.date(2019, 12, 25)
diff = date1- date2
diff.days

305

### Python pytz
In case we want to use a different timezone than UTC, we can use the pytz module as shown below

In [29]:
import pytz
#print(pytz.all_timezones_set)

In [73]:
new_timezone = pytz.timezone('Europe/Madrid')
datetime_object = datetime.datetime.now(tz=new_timezone)
#print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)
print(datetime_object.isoformat())

Year:  2021
Month:  11
Dat:  25
Hour:  9
Minute:  49
Second:  48
TimeZone info:  Europe/Madrid
2021-11-25T09:49:48.712924+01:00

### Getting a date from a timestamp
A Unix timestamp is a number of seconds in UTC format between a particular date and January 1, 1970 at UTC. It's a very standard way of dealing with datetime objects.

In [30]:
# get current timestamp
import time
secondsSinceEpoch = time.time()
secondsSinceEpoch

1637861460.0704708

In [31]:
## or this way
datetime_object = datetime.datetime.now()
print("Timestamp: ", datetime_object.timestamp())

Timestamp:  1637861473.680024

In [32]:
timestamp = 1637830462.124254
datetime_object = datetime.datetime.fromtimestamp(timestamp)
# We also know that Unix timestamps are in UTC so we might as well 
# add the timezone info to our object.
datetime_object = datetime_object.replace(tzinfo=datetime.timezone.utc)
print(datetime_object)
print("Year: ", datetime_object.year)
print("Month: ", datetime_object.month)
print("Dat: ", datetime_object.day)
print("Hour: ", datetime_object.hour)
print("Minute: ", datetime_object.minute)
print("Second: ", datetime_object.second)
print("TimeZone info: ", datetime_object.tzinfo)

2021-11-25 08:54:22.124254+00:00
Year:  2021
Month:  11
Dat:  25
Hour:  8
Minute:  54
Second:  22
TimeZone info:  UTC

### Python strftime()
The datetime module contains a very powerful method called strftime which helps us format the dates in whichever format we need.

In [81]:
# current date and time
now = datetime.datetime.now(tz=pytz.timezone('UTC'))

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("mm/dd/YY:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("dd/mm/YY:", s2)

# Timezone
print("Timezone: ", now.strftime("%Z"))

# Weekday
print("Weekday: ", now.strftime("%A"))

# Abbreviated weekday
print("Abbreviated Weekday: ", now.strftime("%a"))


# Locale's appropriate date and time representation
print("Locale representation: ", now.strftime("%c"))

time: 08:57:32
mm/dd/YY: 11/25/2021, 08:57:32
dd/mm/YY: 25/11/2021, 08:57:32
Timezone:  UTC
Weekday:  Thursday
Abbreviated Weekday:  Thu
Locale representation:  Thu Nov 25 08:57:32 2021

### Python strptime()
As opposed to the strftime method, the strptime method takes in a string and converts it into datetime object. This method takes two paramaters. These are:

- Date string
- Date Format <br>

The second parameter (format) is referring to the format directives. The same ones we used in strftime ('%A, %d, %Z .. etc.). It acts in the way that tells Strptime what is the format of the datetime string to be processed. Now let us work on few examples.

In [33]:
import datetime
datetime_string = '08/23/21 15:23:52'

datetime_object = datetime.datetime.strptime(datetime_string, '%m/%d/%y %H:%M:%S')
print(type(datetime_object))
print(datetime_object)

<class 'datetime.datetime'>
2021-08-23 15:23:52